.container {
    max-width: 80rem;
}

.d-block {
    display: block !important;
}

.small-image-desc {
    position: relative;
    top: -0.75rem;
    font-size: 1rem;
}

/* Screens größer als Mobil */
@media (min-width: 40.0rem) { 
    .small-image-desc {
        font-size: 1.5rem;
    }
}

/* Spalten auf kleinen Bildschirmen 100% breit */
@media (max-width: 40rem) {
    .column.column-10, .column.column-20 {
        flex: 1 1 auto !important;
        margin-left: 0 !important;
        max-width: 100% !important;
        width: 100% !important;
    }
}

p.helptext {
    margin-top: 3rem;
}

p.prediction {
    text-align: center;
    font-size: 4rem;
}

/* Range 
 * Zeigt den Prozentwert einer Vermutung als Progressbar an
 */

.range {
    position: relative;
    height: 1.2rem; 
    width: 100%;
    background: #555;
	border-radius: 1rem;
	padding: 0.3rem;
    box-sizing: content-box;
}

.range > span {
    position: relative;
    display: block;
    height: 100%;
    border-radius: 8px;
    background-color: #9b4dca;
    background-image: linear-gradient(
      center bottom,
      #9b4dca 37%,
      #B567E4 69%
    );
    box-shadow: 
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    overflow: hidden;
}

/* Bei der Prozentansicht etwas Abstand 
 * zwischen Progessbars setzen
 */
@media (max-width: 40rem) {
    .output-container .column-20 {
        margin-top: 10px;
    }
}


/* Lade-Animation */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #9b4dca;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
  
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
  }

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
  }
  